@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body{
 background: #ffffff;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}
#logo{
	display: inline-block;
}
.logo {
  margin-left: 2em;
  height: 45px;
  margin-top: 1px;
}
.topnav a:not(:first-child){
	float: right;
	opacity: 1;
}

.topnav a:hover {
   opacity: 0.6;
}

.topnav .search-container {
  float: right;
  margin-top: 5px;
  margin-right: 3%;
}

.topnav input[name=search] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: #ffffff;
}

.topnav .search-container input[type=button] {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2196F3;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white;
}

.topnav .search-container input[type=button]:hover {
  background: #0b7dda;
}